#pswmeter {
    height: 8px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

#pswmeter .password-strength-meter-score {
    height: inherit;
    width: 0%;
    transition: .3s ease-in-out;
    background: #dc3545;
}

#pswmeter .password-strength-meter-score.psms-25 {
    width: 25%;
    background: #dc3545;
}

#pswmeter .password-strength-meter-score.psms-50 {
    width: 50%;
    background: #f7c32e;
}

#pswmeter .password-strength-meter-score.psms-75 {
    width: 75%;
    background: #4f9ef8;
}

#pswmeter .password-strength-meter-score.psms-100 {
    width: 100%;
    background: #0cbc87;
}